{% extends "base.html" %}

{% block title %}
    {% if formu.title.data %}
        {{ formu.title.data }}
    {% else %}
        Nueva entrada
    {% endif %}
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ formu.hidden_tag() }}
        <div>
            {{ formu.title.label }}
            {{ formu.title(size=128) }}<br>
            {% for error in formu.title.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ formu.content.label }}
            {{ formu.content }}<br>
            {% for error in formu.content.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ formu.post_image.label }}
            {{ formu.post_image }}<br>
            {% for error in formu.post_image.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ formu.submit() }}
        </div>
    </form>
    {%if post %}
        <form action="{{ url_for('admin.delete_post', post_id=post.id) }}" method="post" novalidate>
        <input type="submit" value="Eliminar" />
    {%endif%}
{% endblock %}