{% extends "base.html"%}
{% block title%} Productos {% endblock%}
{% block content%}
 <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for img in images %}
      <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
        <img src="{{ url_for('static', filename=img.image_path) }}" class="d-block w-100" alt="...">
        {% if img.caption %}
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ img.caption }}</h5>
        </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>

{% endblock%}