{% extends "base.html" %}
{% block title %}Pagina de Registro{% endblock %}
{% block content %}

{% if error %}
<p style="color: red;"><strong>Error:</strong> {{ error }}
{% endif %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    {{ form.name.label }}
    {{ form.name(size=25) }}
    {% for error in form.name.errors %}
    <span style="color: red;">{{ error }}</span>
    <br/>
    {% endfor %}

    {{ form.email.label }}
    {{ form.email() }}
    {% for error in form.email.errors %}
    <span style="color: red;">{{ error }}</span>
    <br/>
    {% endfor %}

    {{ form.password.label }}
    {{ form.password() }}
    {% for error in form.password.errors %}
    <span style="color: red;">{{ error }}</span>
    <br/>
    {% endfor %}

    {{ form.submit() }}
</form>
    
    
{% endblock %}