{% extends "base.html"%}
{% block title%}sign Up{%endblock%}
{% block content %}
    <div>
        <form action="" method="post" novalidate>
            {{formu.hidden_tag()}}
            <div>
                {{formu.nombre.label}}
                {{formu.nombre}} <br>
                {%for error in formu.nombre.errors%}
                <span style="color: green"> {{error}}</span>
                {%endfor%}
            </div>
            <div>
                {{formu.email.label}}
                {{formu.email}} <br>
                {%for error in formu.email.errors%}
                <span style="color: green"> {{error}}</span>
                {%endfor%}
            </div>
            <div>
                {{formu.password.label}}
                {{formu.password}} <br>
                {%for error in formu.password.errors%}
                <span style="color: green"> {{error}}</span>
                {%endfor%}
            </div>
            <div>
                {{formu.enviar()}}
            </div>
        </form>
    </div>
{%endblock%}